.personal-photo {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 400px;
  float: right;
  margin-right: 75px;
}

.proj-exp {
  margin-left: 20px;
}

.wrapper {
  max-width: inherit;
  height: 2px;
  background-color: #20B2AA;
}


.container {
  margin-left: 75px;
}
